<div class="dialog-container">
  <h2 mat-dialog-title>{{title}}</h2>
  
  <mat-dialog-content>
    <form [formGroup]="form" class="generic-form">
      
      <ng-container *ngFor="let field of getVisibleFields()">
        
        
        <mat-form-field 
          *ngIf="field.type === 'text' || field.type === 'email' || field.type === 'password'" 
          appearance="outline" 
          [class.full-width]="field.fullWidth">
          <mat-label>{{field.label}}</mat-label>
          <input 
            matInput 
            [type]="field.type === 'password' ? 'password' : 'text'"
            [formControlName]="field.name" 
            [placeholder]="field.placeholder || ''">
          <mat-error *ngFor="let error of getFieldErrors(field.name)">
            {{error}}
          </mat-error>
        </mat-form-field>

        
        <mat-form-field 
          *ngIf="field.type === 'number'" 
          appearance="outline" 
          [class.full-width]="field.fullWidth">
          <mat-label>{{field.label}}</mat-label>
          <input 
            matInput 
            type="number"
            [formControlName]="field.name" 
            [placeholder]="field.placeholder || ''">
          <mat-error *ngFor="let error of getFieldErrors(field.name)">
            {{error}}
          </mat-error>
        </mat-form-field>

        
        <mat-form-field 
          *ngIf="field.type === 'select'" 
          appearance="outline" 
          [class.full-width]="field.fullWidth">
          <mat-label>{{field.label}}</mat-label>
          <mat-select [formControlName]="field.name">
            <mat-option *ngFor="let option of field.options" [value]="option.value">
              {{option.label}}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let error of getFieldErrors(field.name)">
            {{error}}
          </mat-error>
        </mat-form-field>

        
        <mat-form-field 
          *ngIf="field.type === 'date'" 
          appearance="outline" 
          [class.full-width]="field.fullWidth">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [matDatepicker]="datePicker" [formControlName]="field.name">
          <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
          <mat-error *ngFor="let error of getFieldErrors(field.name)">
            {{error}}
          </mat-error>
        </mat-form-field>

        
        <mat-form-field 
          *ngIf="field.type === 'textarea'" 
          appearance="outline" 
          [class.full-width]="field.fullWidth">
          <mat-label>{{field.label}}</mat-label>
          <textarea 
            matInput 
            [formControlName]="field.name" 
            [placeholder]="field.placeholder || ''"
            rows="4">
          </textarea>
          <mat-error *ngFor="let error of getFieldErrors(field.name)">
            {{error}}
          </mat-error>
        </mat-form-field>

      </ng-container>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onCancel()" [disabled]="isLoading">
      Otkaži
    </button>
    <button mat-raised-button color="primary" (click)="onSave()" 
            [disabled]="!form.valid || isLoading">
      {{isNew ? 'Dodaj' : 'Sačuvaj'}}
    </button>
  </mat-dialog-actions>
</div>
