<div class="dialog-container">
  
  <div class="dialog-header">
    <div class="header-content">
      <div class="dialog-icon">
        <mat-icon>{{config.icon || 'edit'}}</mat-icon>
      </div>
      <div class="header-text">
        <h2 mat-dialog-title class="dialog-title">{{title}}</h2>
        <p class="dialog-subtitle" *ngIf="config.subtitle">{{config.subtitle}}</p>
      </div>
    </div>
  </div>
  
  <mat-dialog-content class="dialog-content">
    
    <div class="loading-section" *ngIf="isLoading">
      <div class="loading-content">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Obrađujemo zahtev...</p>
      </div>
    </div>

    
    <div class="form-section" *ngIf="!isLoading">
      <form [formGroup]="form" class="generic-form">
        
        <ng-container *ngFor="let field of getVisibleFields()">
          
          
          <div class="form-row" *ngIf="field.type === 'text' || field.type === 'email' || field.type === 'password'">
            <mat-form-field 
              appearance="outline" 
              class="form-field"
              [class.full-width]="field.fullWidth !== false">
              <mat-label>{{field.label}}</mat-label>
              <input 
                matInput 
                [type]="field.type === 'password' ? 'password' : 'text'"
                [formControlName]="field.name" 
                [placeholder]="field.placeholder || ''">
              <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
              <mat-error *ngFor="let error of getFieldErrors(field.name)">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

          
          <div class="form-row" *ngIf="field.type === 'number'">
            <mat-form-field 
              appearance="outline" 
              class="form-field"
              [class.full-width]="field.fullWidth !== false">
              <mat-label>{{field.label}}</mat-label>
              <input 
                matInput 
                type="number"
                [formControlName]="field.name" 
                [placeholder]="field.placeholder || ''"
                [min]="field.min || null"
                [max]="field.max || null">
              <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
              <mat-error *ngFor="let error of getFieldErrors(field.name)">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

          
          <div class="form-row" *ngIf="field.type === 'select'">
            <mat-form-field 
              appearance="outline" 
              class="form-field"
              [class.full-width]="field.fullWidth !== false">
              <mat-label>{{field.label}}</mat-label>
              <mat-select [formControlName]="field.name">
                <mat-option *ngFor="let option of field.options" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
              <mat-error *ngFor="let error of getFieldErrors(field.name)">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

         
          <div class="form-row" *ngIf="field.type === 'date'">
            <mat-form-field 
              appearance="outline" 
              class="form-field"
              [class.full-width]="field.fullWidth !== false">
              <mat-label>{{field.label}}</mat-label>
              <input matInput [matDatepicker]="datePicker" [formControlName]="field.name">
              <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
              <mat-error *ngFor="let error of getFieldErrors(field.name)">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row" *ngIf="field.type === 'datetime-local'">
            <mat-form-field 
              appearance="outline" 
              class="form-field"
              [class.full-width]="field.fullWidth !== false">
              <mat-label>{{field.label}}</mat-label>
              <input 
                matInput 
                type="datetime-local"
                [formControlName]="field.name"
                [placeholder]="field.placeholder || ''">
              <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
              <mat-error *ngFor="let error of getFieldErrors(field.name)">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row datetime-inputs" *ngIf="field.type === 'datetime'">
            <mat-form-field appearance="outline" class="date-field">
              <mat-label>{{field.label}} - Datum</mat-label>
              <input matInput [matDatepicker]="datePicker" 
                     [value]="getDateFromDateTimeString(field.name)"
                     (dateChange)="updateDate(field.name, $event.value)">
              <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="time-field">
              <mat-label>Vreme</mat-label>
              <input matInput type="time" 
                     [value]="getTimeFromDateTimeString(field.name)"
                     (change)="updateTime(field.name, $any($event.target).value)">
            </mat-form-field>
            <div *ngFor="let error of getFieldErrors(field.name)" class="datetime-error">
              <mat-error>{{error}}</mat-error>
            </div>
          </div>

         
          <div class="form-row" *ngIf="field.type === 'textarea'">
            <mat-form-field 
              appearance="outline" 
              class="form-field"
              [class.full-width]="field.fullWidth !== false">
              <mat-label>{{field.label}}</mat-label>
              <textarea 
                matInput 
                [formControlName]="field.name" 
                [placeholder]="field.placeholder || ''"
                [rows]="field.rows || 4">
              </textarea>
              <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
              <mat-error *ngFor="let error of getFieldErrors(field.name)">
                {{error}}
              </mat-error>
            </mat-form-field>
          </div>


          <div class="form-row" *ngIf="field.type === 'dynamic-text'">
            <div class="dynamic-text-field">
              <p class="dynamic-text-content">{{getDynamicText(field)}}</p>
            </div>
          </div>

        </ng-container>
      </form>
      
      <div *ngIf="form.errors?.['dateRangeInvalid']" class="date-range-error">
        <mat-error>Vreme početka mora biti pre vremena završetka</mat-error>
      </div>
    </div>
  </mat-dialog-content>

 
  <mat-dialog-actions class="dialog-actions">
    <button 
      mat-stroked-button 
      color="warn"
      (click)="onCancel()" 
      [disabled]="isLoading"
      class="cancel-button">
      <mat-icon>close</mat-icon>
      Otkaži
    </button>
    <button 
      mat-raised-button 
      color="primary" 
      (click)="onSave()" 
      [disabled]="!form.valid || isLoading"
      class="save-button">
      <mat-icon>{{isNew ? 'add' : 'save'}}</mat-icon>
      {{isNew ? 'Dodaj' : 'Sačuvaj'}}
    </button>
  </mat-dialog-actions>
</div>
