<div class="app-layout">
  <mat-toolbar color="primary" class="main-header">
    <button mat-icon-button (click)="toggleDrawer()" *ngIf="!(isStudent$ | async)">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/homepage" class="toolbar-title">LMS Univerzitet</a>
    <span class="spacer"></span>
    
    <ng-container *ngIf="!(isAuthenticated$ | async)">
      <button mat-button routerLink="/login" class="toolbar-button">Login</button>
      <button mat-button routerLink="/register" class="toolbar-button">Registracija</button>
    </ng-container>
    
    <ng-container *ngIf="isAuthenticated$ | async">
      <button mat-button (click)="logout()" class="toolbar-button">Odjavi se</button>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" [opened]="(isAuthenticated$ | async) ? true : isDrawerOpened" class="sidenav">
      
      <div class="nav-section" *ngIf="isStudent$ | async">
        <h4 class="section-title">Student Panel</h4>
        <mat-nav-list class="custom-nav-list">
          <a mat-list-item routerLink="/student-homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">dashboard</mat-icon>
            <span class="nav-text">Portal</span>
          </a>
          <a mat-list-item routerLink="/homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">home</mat-icon>
            <span class="nav-text">Glavna strana</span>
          </a>
          <a mat-list-item routerLink="/profil" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">person</mat-icon>
            <span class="nav-text">Profil</span>
          </a>
          <a mat-list-item routerLink="/predmeti" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">school</mat-icon>
            <span class="nav-text">Predmeti</span>
          </a>
          <a mat-list-item routerLink="/obavestenja" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">notifications</mat-icon>
            <span class="nav-text">Obavestenja</span>
          </a>
          <a mat-list-item routerLink="/istorija" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">history</mat-icon>
            <span class="nav-text">Istorija</span>
          </a>
          <a mat-list-item routerLink="/prijava-ispita" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">assignment</mat-icon>
            <span class="nav-text">Prijava ispita</span>
          </a>
          <a mat-list-item class="nav-item" (click)="openProfileDialog()">
            <mat-icon class="nav-icon">edit</mat-icon>
            <span class="nav-text">Uredi profil</span>
          </a>
        </mat-nav-list>
      </div>

      <div class="nav-section" *ngIf="!(isAuthenticated$ | async)">
        <h4 class="section-title">Navigacija</h4>
        <mat-nav-list class="custom-nav-list">
          <a mat-list-item routerLink="/homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">home</mat-icon>
            <span class="nav-text">Home</span>
          </a>
          <a mat-list-item routerLink="/fakulteti" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">business</mat-icon>
            <span class="nav-text">Fakulteti</span>
          </a>
          <a mat-list-item routerLink="/studijski-programi" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">school</mat-icon>
            <span class="nav-text">Studijski programi</span>
          </a>
          <a mat-list-item routerLink="/predmeti" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">class</mat-icon>
            <span class="nav-text">Predmeti</span>
          </a>
        </mat-nav-list>
      </div>

      <div class="nav-section" *ngIf="isNastavnik$ | async">
        <h4 class="section-title">Nastavnik Panel</h4>
        <mat-nav-list class="custom-nav-list">
          <a mat-list-item routerLink="/nastavnik-homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">dashboard</mat-icon>
            <span class="nav-text">Portal</span>
          </a>
          <a mat-list-item routerLink="/homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">home</mat-icon>
            <span class="nav-text">Glavna strana</span>
          </a>
          <a mat-list-item routerLink="/predmeti" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">school</mat-icon>
            <span class="nav-text">Predmeti</span>
          </a>
          <a mat-list-item routerLink="/termini" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">event</mat-icon>
            <span class="nav-text">Termini</span>
          </a>
          <a mat-list-item routerLink="/obavestenja-upravljanje" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">announcement</mat-icon>
            <span class="nav-text">Upravljaj obaveštenjima</span>
          </a>
          <a mat-list-item routerLink="/studenti" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">people</mat-icon>
            <span class="nav-text">Studenti</span>
          </a>
          <a mat-list-item routerLink="/ocene" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">grade</mat-icon>
            <span class="nav-text">Ocene</span>
          </a>
          <a mat-list-item routerLink="/instrumenti-evaluacije" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">assessment</mat-icon>
            <span class="nav-text">Instrumenti evaluacije</span>
          </a>
          <a mat-list-item class="nav-item" (click)="openProfileDialog()">
            <mat-icon class="nav-icon">edit</mat-icon>
            <span class="nav-text">Uredi profil</span>
          </a>
        </mat-nav-list>
      </div>

      <div class="nav-section" *ngIf="isKorisnik$ | async">
        <h4 class="section-title">Korisnik Panel</h4>
        <mat-nav-list class="custom-nav-list">
          <a mat-list-item routerLink="/homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">home</mat-icon>
            <span class="nav-text">Home</span>
          </a>
          <a mat-list-item routerLink="/fakulteti" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">business</mat-icon>
            <span class="nav-text">Fakulteti</span>
          </a>
          <a mat-list-item routerLink="/studijski-programi" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">school</mat-icon>
            <span class="nav-text">Studijski programi</span>
          </a>
          <a mat-list-item routerLink="/predmeti" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">class</mat-icon>
            <span class="nav-text">Predmeti</span>
          </a>
          <a mat-list-item routerLink="/nastavni-materijali" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">library_books</mat-icon>
            <span class="nav-text">Nastavni materijali</span>
          </a>
          <a mat-list-item routerLink="/studenti" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">people</mat-icon>
            <span class="nav-text">Studenti</span>
          </a>
          <a mat-list-item routerLink="/profil" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">person</mat-icon>
            <span class="nav-text">Profil</span>
          </a>
          <a mat-list-item class="nav-item" (click)="openProfileDialog()">
            <mat-icon class="nav-icon">edit</mat-icon>
            <span class="nav-text">Uredi profil</span>
          </a>
        </mat-nav-list>
      </div>

      <div class="nav-section" *ngIf="isStudentskaSluzba$ | async">
        <h4 class="section-title">Studentska služba</h4>
        <mat-nav-list class="custom-nav-list">
          <a mat-list-item routerLink="/studentska-sluzba-homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">dashboard</mat-icon>
            <span class="nav-text">Portal</span>
          </a>
          <a mat-list-item routerLink="/homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">home</mat-icon>
            <span class="nav-text">Glavna strana</span>
          </a>
          <a mat-list-item routerLink="/upis-studenata" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">person_add</mat-icon>
            <span class="nav-text">Upis studenata</span>
          </a>
          <a mat-list-item routerLink="/dokumenta" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">description</mat-icon>
            <span class="nav-text">Dokumenta</span>
          </a>
          <a mat-list-item routerLink="/rasporedi" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">schedule</mat-icon>
            <span class="nav-text">Rasporedi</span>
          </a>
          <a mat-list-item routerLink="/obavestenja-upravljanje" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">announcement</mat-icon>
            <span class="nav-text">Upravljaj obaveštenjima</span>
          </a>
          <a mat-list-item routerLink="/literatura" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">library_books</mat-icon>
            <span class="nav-text">Literatura</span>
          </a>
          <a mat-list-item routerLink="/inventar" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">inventory</mat-icon>
            <span class="nav-text">Inventar</span>
          </a>
          <a mat-list-item class="nav-item" (click)="openProfileDialog()">
            <mat-icon class="nav-icon">edit</mat-icon>
            <span class="nav-text">Uredi profil</span>
          </a>
        </mat-nav-list>
      </div>

      <div class="nav-section" *ngIf="isAdmin$ | async">
        <h4 class="section-title">Admin Panel</h4>
        <mat-nav-list class="custom-nav-list">
          <a mat-list-item routerLink="/admin-homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">dashboard</mat-icon>
            <span class="nav-text">Portal</span>
          </a>
          <a mat-list-item routerLink="/homepage" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">home</mat-icon>
            <span class="nav-text">Glavna strana</span>
          </a>
          <a mat-list-item routerLink="/sifarnik" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">code</mat-icon>
            <span class="nav-text">Šifarnik</span>
          </a>
          <a mat-list-item routerLink="/korisnici" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">people</mat-icon>
            <span class="nav-text">Korisnici</span>
          </a>
          <a mat-list-item routerLink="/admin/studijski-programi" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">school</mat-icon>
            <span class="nav-text">Studijski programi</span>
          </a>
          <a mat-list-item routerLink="/organizacija-nastave" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">business</mat-icon>
            <span class="nav-text">Organizacije</span>
          </a>
          <a mat-list-item routerLink="/obavestenja-upravljanje" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">announcement</mat-icon>
            <span class="nav-text">Obaveštenja</span>
          </a>
          <a mat-list-item routerLink="/admin/zaposleni" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">people_alt</mat-icon>
            <span class="nav-text">Zaposleni</span>
          </a>
          <a mat-list-item routerLink="/rdf/drzave" class="nav-item" routerLinkActive="active">
            <mat-icon class="nav-icon">storage</mat-icon>
            <span class="nav-text">RDF Države</span>
          </a>
          <a mat-list-item class="nav-item" (click)="openProfileDialog()">
            <mat-icon class="nav-icon">edit</mat-icon>
            <span class="nav-text">Uredi profil</span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
