<div class="termini-container">
  <div class="header-section">
    <h1 class="page-title">
      <mat-icon class="title-icon">event</mat-icon>
      Raspored termina nastave
    </h1>
    
    <button 
      mat-raised-button 
      color="primary" 
      (click)="addNewTermin()" 
      [disabled]="!isNastavnik || loading || dostupniIshodi.length === 0"
      class="add-button">
      <mat-icon>add</mat-icon>
      Dodaj novi termin
    </button>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="termini-table">
            
            <ng-container matColumnDef="vremePocetka">
              <th mat-header-cell *matHeaderCellDef>Vreme početka</th>
              <td mat-cell *matCellDef="let termin; let i = index">
                <div *ngIf="!termin.isEditing">
                  {{ termin.vremePocetka | date:'dd.MM.yyyy HH:mm' }}
                </div>
                <div *ngIf="termin.isEditing" class="datetime-inputs">
                  <mat-form-field appearance="outline" class="date-field">
                    <mat-label>Datum početka</mat-label>
                    <input matInput [matDatepicker]="pocetakDatePicker" 
                           [value]="getDateFromString(termin.vremePocetka)"
                           (dateChange)="updateDatumPocetka(termin, $event.value)">
                    <mat-datepicker-toggle matIconSuffix [for]="pocetakDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #pocetakDatePicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="time-field">
                    <mat-label>Vreme</mat-label>
                    <input matInput type="time" 
                           [value]="getTimeFromString(termin.vremePocetka)"
                           (change)="updateVremePocetka(termin, $any($event.target).value)">
                  </mat-form-field>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="vremeZavrsetka">
              <th mat-header-cell *matHeaderCellDef>Vreme završetka</th>
              <td mat-cell *matCellDef="let termin; let i = index">
                <div *ngIf="!termin.isEditing">
                  {{ termin.vremeZavrsetka | date:'dd.MM.yyyy HH:mm' }}
                </div>
                <div *ngIf="termin.isEditing" class="datetime-inputs">
                  <mat-form-field appearance="outline" class="date-field">
                    <mat-label>Datum završetka</mat-label>
                    <input matInput [matDatepicker]="krajDatePicker" 
                           [value]="getDateFromString(termin.vremeZavrsetka)"
                           (dateChange)="updateDatumZavrsetka(termin, $event.value)">
                    <mat-datepicker-toggle matIconSuffix [for]="krajDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #krajDatePicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="time-field">
                    <mat-label>Vreme</mat-label>
                    <input matInput type="time" 
                           [value]="getTimeFromString(termin.vremeZavrsetka)"
                           (change)="updateVremeZavrsetka(termin, $any($event.target).value)">
                  </mat-form-field>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="ishod">
              <th mat-header-cell *matHeaderCellDef>Ishod (tema)</th>
              <td mat-cell *matCellDef="let termin; let i = index">
                <div *ngIf="!termin.isEditing" class="ishod-display">
                  <span class="ishod-text">{{ getIshodNaziv(termin.ishod) }}</span>
                </div>
                <mat-form-field *ngIf="termin.isEditing" appearance="outline" class="edit-field">
                  <mat-label>Izaberite ishod</mat-label>
                  <mat-select [(ngModel)]="termin.ishod" [compareWith]="compareIshod">
                    <mat-option *ngFor="let ishod of getDostupniIshodiForTermin(termin)" [value]="ishod">
                      {{ ishod.opis }}
                    </mat-option>
                    <mat-option disabled *ngIf="getDostupniIshodiForTermin(termin).length === 0">
                      Svi ishodi su već dodeljeni
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="tipNastave">
              <th mat-header-cell *matHeaderCellDef>Tip nastave</th>
              <td mat-cell *matCellDef="let termin; let i = index">
                <div *ngIf="!termin.isEditing">
                  <span>{{ getTipNastaveNaziv(termin.tipNastave) }}</span>
                </div>
                <mat-form-field *ngIf="termin.isEditing" appearance="outline" class="edit-field">
                  <mat-label>Tip nastave</mat-label>
                  <mat-select [(ngModel)]="termin.tipNastave" [compareWith]="compareTipNastave">
                    <mat-option *ngFor="let tip of tipoviNastave" [value]="tip">
                      {{ tip.naziv }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Akcije</th>
              <td mat-cell *matCellDef="let termin; let i = index">
                <div class="action-buttons">
                  <div *ngIf="!termin.isEditing && isNastavnik">
                    <button mat-icon-button 
                      color="primary" 
                      (click)="editTermin(termin)"
                      matTooltip="Uredi termin">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button 
                      color="warn" 
                      (click)="deleteTermin(termin, i)"
                      matTooltip="Obriši termin">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  
                  <div *ngIf="termin.isEditing">
                    <button mat-icon-button 
                      color="primary" 
                      (click)="saveTermin(termin, i)"
                      [disabled]="loading"
                      matTooltip="Sačuvaj">
                      <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button 
                      (click)="cancelEdit(termin, i)"
                      [disabled]="loading"
                      matTooltip="Otkaži">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                [class.editing-row]="row.isEditing"
                [class.new-row]="row.isNew"></tr>
          </table>
        </div>

        <div *ngIf="termini.length === 0 && !loading" class="empty-state">
          <mat-icon class="empty-icon">event_busy</mat-icon>
          <h3>Nema definisanih termina</h3>
          <p>Kliknite "Dodaj novi termin" da biste dodali prvi termin nastave.</p>
        </div>

  <div *ngIf="loading" class="loading-overlay">
    <div class="loading-spinner">
      <mat-icon class="spinning">sync</mat-icon>
      <span>Učitavanje...</span>
    </div>
  </div>
</div>
